@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url(./reset.css);
html {
  font-family: "Poppins", sans-serif; }

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  line-height: 48px;
  color: #fff;
  letter-spacing: -2px;
  font-weight: 600; }
  @media (min-width: 850px) {
    h1 {
      font-size: 64px;
      line-height: 68px; } }

h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  color: #253757;
  text-align: center; }
  @media (min-width: 850px) {
    h2 {
      font-size: 52px; } }

h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #253757; }
  @media (min-width: 850px) {
    h3 {
      font-size: 32px;
      line-height: 150%; } }

h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #253757; }

h5 {
  margin-bottom: 16px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 3px; }

a {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out; }
  a:hover {
    opacity: 0.7; }

p {
  font-family: "Open Sans", sans-serif; }

small {
  margin-bottom: 4px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 150%;
  color: #253757;
  text-align: center; }

.promo {
  position: relative;
  height: 100vh;
  max-height: 800px; }
  .theme--black .promo {
    background-color: #2c2c2c;
    border-radius: 0 0 30px 30px; }
  .theme--blue .promo {
    background-color: #008aff;
    border-radius: 0 0 0 200px; }
  .promo__header {
    padding-top: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .promo__navigation {
    display: none; }
    @media (min-width: 768px) {
      .promo__navigation {
        display: block; } }
  .promo__link {
    display: none; }
    @media (min-width: 1024px) {
      .promo__link {
        display: block; } }
    .promo__link::after {
      content: "";
      top: 8px;
      display: block;
      width: 100%;
      height: 2px;
      border-radius: 4px; }
      .theme--black .promo__link::after {
        background-color: #2060f6; }
      .theme--blue .promo__link::after {
        background-color: #ff9c8e; }
  .promo__hamburger {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    cursor: pointer; }
    @media (min-width: 768px) {
      .promo__hamburger {
        display: none; } }
  .promo__highlight {
    text-align: center;
    padding-top: 20vh;
    padding-bottom: 20vh; }
    @media (min-width: 850px) {
      .promo__highlight {
        text-align: left; } }
  .promo__title {
    margin-bottom: 2rem; }
    @media (min-width: 850px) {
      .promo__title {
        max-width: 15vw; } }
  .promo__text {
    margin-bottom: 10vh;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #fff; }
    @media (min-width: 850px) {
      .promo__text {
        max-width: 24vw; } }
  .promo__button {
    display: inline-block;
    width: 226px;
    height: 50px; }

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .navbar__link:not(:last-child) {
    margin-right: 2rem; }
    @media (min-width: 1024px) {
      .navbar__link:not(:last-child) {
        margin-right: 4rem; } }
  .navbar__link::after {
    content: "";
    position: relative;
    top: 8px;
    display: block;
    width: 0;
    height: 2px;
    border-radius: 4px;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out; }
    .theme--black .navbar__link::after {
      background-color: #2060f6; }
    .theme--blue .navbar__link::after {
      background-color: #ff9c8e; }
  .navbar__link:hover::after {
    width: 100%; }

.button {
  display: inline-block;
  width: 226px;
  height: 56px;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #fff; }
  .theme--black .button {
    background-color: #2060f6;
    border-radius: 8px; }
  .theme--blue .button {
    background-color: #ff9c8e;
    border-radius: 64px; }
  .theme--black .button:hover, .theme--black .button:active {
    color: #2060f6;
    background-color: #fff;
    border: 1px solid #2060f6; }
  .theme--blue .button:hover, .theme--blue .button:active {
    color: #ff9c8e;
    background-color: #fff;
    border: 1px solid #ff9c8e; }

.carousel {
  display: none; }
  @media (min-width: 850px) {
    .carousel {
      display: block;
      position: absolute;
      top: 40%;
      right: 0;
      width: 45vw;
      height: 60%; } }
  @media (min-width: 1500px) {
    .carousel {
      top: 20%;
      height: 80%; } }
  @media (min-width: 1800px) {
    .carousel {
      width: 30vw;
      top: 30%;
      height: 70%; } }
  .carousel__image {
    width: 100%;
    height: 100%; }
    .theme--black .carousel__image--main {
      background: center/cover url("../images/slider/1.jpg");
      border-radius: 30px 0 30px 0; }
    .theme--blue .carousel__image--main {
      background: center/cover url("../images/slider/1-blue.jfif");
      border-radius: 200px 0 0 0; }
  .carousel__track-countainer {
    height: 100%;
    position: relative;
    overflow: hidden; }
  .carousel__track {
    height: 100%;
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: -webkit-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out; }
  .carousel__slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .carousel__button {
    position: absolute;
    bottom: 66px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: inline-block;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #fff;
    z-index: 1; }
    .carousel__button--left {
      left: 48px; }
    .carousel__button--right {
      left: 88px; }
  .carousel__intro {
    position: absolute;
    left: 144px;
    bottom: 86px;
    color: #fff; }
  .carousel__intro-heading {
    margin-bottom: 8px; }
  .carousel__intro-paragraph {
    font-size: 14px;
    line-height: 140%; }

.welcome {
  margin: 80px auto; }
  @media (min-width: 850px) {
    .welcome {
      margin: 148px auto; } }
  .welcome__heading {
    max-width: 740px;
    margin: auto;
    margin-bottom: 1rem; }
  .welcome__text {
    max-width: 740px;
    margin: auto;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #6c788b; }
    @media (min-width: 850px) {
      .welcome__text {
        font-size: 24px; } }

.expertise {
  padding-top: 128px;
  background-color: #fff; }
  .expertise__heading {
    margin-bottom: 4rem; }

.cards {
  display: grid;
  grid-template-columns: 264px;
  grid-template-rows: repeat(3, 334px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (min-width: 850px) {
    .cards {
      grid-template-columns: repeat(3, 264px);
      grid-template-rows: 334px;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .cards--testimonials {
    display: grid;
    grid-template-columns: 80vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-template-rows: 494px; }
    @media (min-width: 1024px) {
      .cards--testimonials {
        grid-template-columns: repeat(3, minmax(250px, 1fr));
        gap: 5vw;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out; }
  .card:hover {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5); }
  .card--testimonial {
    padding: 2rem;
    background-color: #fff;
    border-radius: 1rem;
    text-align: center; }
  .card__photo {
    position: relative;
    z-index: 1;
    margin: 3.5rem 3.5rem 5rem; }
    .card__photo--1::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 139px;
      height: 56px;
      -webkit-transform: translate(-30%) rotate(-60deg);
              transform: translate(-30%) rotate(-60deg); }
      .theme--black .card__photo--1::before {
        background: #2060f6;
        border-radius: 12px; }
      .theme--blue .card__photo--1::before {
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56ccf2;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2;
        border-radius: 500px; }
    .card__photo--1::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
      width: 139px;
      height: 56px;
      -webkit-transform: translate(30%) rotate(-60deg);
              transform: translate(30%) rotate(-60deg); }
      .theme--black .card__photo--1::after {
        background: #2060f6;
        border-radius: 12px; }
      .theme--blue .card__photo--1::after {
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56ccf2;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2;
        border-radius: 500px; }
    .card__photo--2::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 139px;
      height: 56px;
      -webkit-transform: translate(-30%) rotate(-60deg);
              transform: translate(-30%) rotate(-60deg); }
      .theme--black .card__photo--2::before {
        background: #2060f6;
        border-radius: 12px; }
      .theme--blue .card__photo--2::before {
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
        border-radius: 500px; }
    .card__photo--2::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
      width: 139px;
      height: 56px;
      -webkit-transform: translate(30%) rotate(-60deg);
              transform: translate(30%) rotate(-60deg); }
      .theme--black .card__photo--2::after {
        background: #2060f6;
        border-radius: 12px; }
      .theme--blue .card__photo--2::after {
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
        border-radius: 500px; }
    .card__photo--3::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 139px;
      height: 56px;
      -webkit-transform: translate(-30%) rotate(-60deg);
              transform: translate(-30%) rotate(-60deg); }
      .theme--black .card__photo--3::before {
        background: #2060f6;
        border-radius: 12px; }
      .theme--blue .card__photo--3::before {
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f25656;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656;
        border-radius: 500px; }
    .card__photo--3::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
      width: 139px;
      height: 56px;
      -webkit-transform: translate(30%) rotate(-60deg);
              transform: translate(30%) rotate(-60deg); }
      .theme--black .card__photo--3::after {
        background: #2060f6;
        border-radius: 12px; }
      .theme--blue .card__photo--3::after {
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f25656;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656;
        border-radius: 500px; }
  .card__image {
    display: block;
    width: 184px;
    height: 166px;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out; }
    .card__image--testimonial {
      border-radius: 50%; }
    .card__image:hover {
      -webkit-transform: scale(0.8);
              transform: scale(0.8); }
  .card__text {
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #6c788b; }
  .card__description {
    position: relative;
    margin-bottom: 16px;
    font-size: 13px; }
    @media (min-width: 768px) {
      .card__description {
        max-width: 240px; } }
    .theme--black .card__description--1::before {
      content: url("../images/testimonials/blue-quote.svg"); }
    .theme--blue .card__description--1::before {
      content: url("../images/testimonials/aqua-quote.svg"); }
    .theme--black .card__description--2::before {
      content: url("../images/testimonials/blue-quote.svg"); }
    .theme--blue .card__description--2::before {
      content: url("../images/testimonials/yellow-quote.svg"); }
    .theme--black .card__description--3::before {
      content: url("../images/testimonials/blue-quote.svg"); }
    .theme--blue .card__description--3::before {
      content: url("../images/testimonials/pink-quote.svg"); }
    .card__description::before {
      position: absolute;
      top: -30px;
      left: calc(50% - 11px); }

.process__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 48px 0; }
  @media (min-width: 1024px) {
    .process__container {
      margin-top: 148px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

.process__cards {
  display: grid;
  grid-template-columns: 264px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px; }
  @media (min-width: 550px) {
    .process__cards {
      grid-template-columns: repeat(2, 264px); } }

.process__description {
  -ms-flex-item-align: center;
      align-self: center;
  max-width: 350px; }

.process__small-head {
  color: #c0cdd7; }

.process__big-head {
  margin-bottom: 1.5rem; }

.process__text {
  font-size: 14px;
  line-height: 150%;
  color: #6c788b;
  margin-bottom: 1.5rem; }

.box {
  height: 264px;
  padding: 32px;
  z-index: 1;
  background-color: #fff;
  border-radius: 1rem;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out; }
  .box:hover {
    -webkit-box-shadow: 0 3px 6px rgba(0, 117, 255, 0.46);
            box-shadow: 0 3px 6px rgba(0, 117, 255, 0.46); }
  @media (min-width: 1024px) {
    .box:nth-child(2n-1) {
      -webkit-transform: translateY(50%);
              transform: translateY(50%); } }
  .box__number {
    display: block;
    width: 46px;
    height: 24px;
    margin-bottom: 1.5rem;
    text-align: center;
    letter-spacing: normal;
    line-height: 24px;
    border-radius: 23px; }
    .theme--black .box__number--first {
      background-color: rgba(32, 96, 246, 0.1);
      color: #2060f6; }
    .theme--blue .box__number--first {
      background-color: rgba(86, 204, 242, 0.1);
      color: #56ccf2; }
    .theme--black .box__number--second {
      background-color: rgba(32, 96, 246, 0.1);
      color: #2060f6; }
    .theme--blue .box__number--second {
      background-color: rgba(252, 201, 29, 0.1);
      color: #fcc91d; }
    .theme--black .box__number--third {
      background-color: rgba(32, 96, 246, 0.1);
      color: #2060f6; }
    .theme--blue .box__number--third {
      background-color: rgba(21, 216, 80, 0.1);
      color: #15d850; }
    .theme--black .box__number--fourth {
      background-color: rgba(32, 96, 246, 0.1);
      color: #2060f6; }
    .theme--blue .box__number--fourth {
      background-color: rgba(243, 99, 99, 0.1);
      color: #f36363; }
  .box__button {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-right: 1rem;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out; }
    .box__button:hover {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
    .theme--blue .box__button--1 {
      background-color: #56ccf2; }
    .theme--blue .box__button--2 {
      background-color: #fcc91d; }
    .theme--blue .box__button--3 {
      background-color: #15d850; }
    .theme--blue .box__button--4 {
      background-color: #f36363; }
  .box__link {
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-transform: none;
    letter-spacing: inherit;
    color: #334563; }
  .box__text {
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #6c788b; }

.features {
  position: relative;
  padding: 12.75vw;
  color: #fff; }
  @media (min-width: 1024px) {
    .features {
      margin-left: 7.5vw; } }
  .theme--black .features {
    background-color: #2c2c2c;
    border-radius: 30px 0 0 30px; }
  .theme--blue .features {
    background-color: #ff9c8e;
    border-radius: 200px 0 0 200px; }
  .features__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media (min-width: 1024px) {
      .features__description {
        max-width: 362px; } }
  .features__big-head {
    color: inherit;
    margin-bottom: 2rem; }
  .features__image {
    display: none;
    border-top-left-radius: 30px; }
    @media (min-width: 1024px) {
      .features__image {
        position: absolute;
        right: 0;
        bottom: 0;
        display: block;
        width: 45vw;
        height: 70%; } }

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4rem; }
  .feature__image {
    height: 64px;
    margin-right: 2rem; }

.testimonials__container {
  padding-top: 48px; }

.testimonials__head {
  color: #c0cdd7; }

.testimonials__big-head {
  margin-bottom: 85px; }

.testimonials__company {
  color: #c0cdd7; }

.vision {
  position: relative;
  height: 691px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff; }
  .vision__ovals {
    visibility: hidden; }
    @media (min-width: 1024px) {
      .vision__ovals {
        visibility: visible; } }
  .vision__head {
    margin-bottom: 1.5rem; }
  .vision__text {
    margin-bottom: 4rem;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #6c788b; }
    @media (min-width: 768px) {
      .vision__text {
        width: 40vw;
        max-width: 700px; } }
  .vision__button {
    display: inline-block;
    width: 226px;
    height: 56px; }

.oval {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out; }
  .oval:hover {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .oval--top-medium {
    position: absolute;
    width: 85.5px;
    height: 34px;
    opacity: 0.5;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg);
    top: 4.5rem;
    left: 15vw; }
    .theme--black .oval--top-medium {
      border: 3px solid #2060f6;
      border-radius: 12px; }
    .theme--blue .oval--top-medium {
      border: 3px solid #f8abab;
      border-radius: 500px; }
  .oval--top-smallest {
    position: absolute;
    width: 45.3px;
    height: 18px;
    opacity: 0.5;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg);
    top: 5rem;
    left: 28vw; }
    .theme--black .oval--top-smallest {
      border: 3px solid #2060f6;
      border-radius: 12px; }
    .theme--blue .oval--top-smallest {
      border: 3px solid #fde183;
      border-radius: 500px; }
  .oval--top-giant {
    position: absolute;
    width: 143px;
    height: 56.5px;
    opacity: 0.5;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg);
    top: 10vh;
    right: 10vw; }
    .theme--black .oval--top-giant {
      border: 5px solid #2060f6;
      border-radius: 12px; }
    .theme--blue .oval--top-giant {
      border: 5px solid #83eba1;
      border-radius: 500px; }
  .oval--top-small {
    position: absolute;
    width: 53.7px;
    height: 21.2px;
    opacity: 0.5;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg);
    top: 6.5rem;
    right: 6vw; }
    .theme--black .oval--top-small {
      border: 3px solid #2060f6;
      border-radius: 12px; }
    .theme--blue .oval--top-small {
      border: 3px solid #df87fd;
      border-radius: 500px; }
  .oval--center-medium {
    position: absolute;
    width: 67.3px;
    height: 26.6px;
    opacity: 0.5;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg);
    left: 5vw;
    bottom: 35vh; }
    .theme--black .oval--center-medium {
      border: 5px solid #2060f6;
      border-radius: 12px; }
    .theme--blue .oval--center-medium {
      border: 5px solid #ace6f8;
      border-radius: 500px; }
  .oval--center-giant {
    position: absolute;
    width: 143px;
    height: 56.5px;
    opacity: 0.5;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg);
    left: 17vw;
    top: 40vh; }
    .theme--black .oval--center-giant {
      border: 5px solid #2060f6;
      border-radius: 12px; }
    .theme--blue .oval--center-giant {
      border: 5px solid #82eaa1;
      border-radius: 500px; }
  .oval--center-large {
    position: absolute;
    width: 85.6px;
    height: 33.8px;
    opacity: 0.5;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg);
    right: 25vw;
    bottom: 13rem; }
    .theme--black .oval--center-large {
      border: 3px solid #2060f6;
      border-radius: 12px; }
    .theme--blue .oval--center-large {
      border: 3px solid #f9b1b1;
      border-radius: 500px; }
  .oval--center-larger {
    position: absolute;
    width: 86.4px;
    height: 34px;
    opacity: 0.5;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg);
    right: 4vw;
    top: 17rem; }
    .theme--black .oval--center-larger {
      border: 3px solid #2060f6;
      border-radius: 12px; }
    .theme--blue .oval--center-larger {
      border: 3px solid #fde183;
      border-radius: 500px; }
  .oval--center-small {
    position: absolute;
    width: 45.3px;
    height: 18px;
    opacity: 0.5;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg);
    left: 30vw;
    bottom: 8rem; }
    .theme--black .oval--center-small {
      border: 3px solid #2060f6;
      border-radius: 12px; }
    .theme--blue .oval--center-small {
      border: 3px solid #fde183;
      border-radius: 500px; }
  .oval--bottom-big {
    position: absolute;
    width: 93.5px;
    height: 37px;
    opacity: 0.5;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg);
    left: 8vw;
    bottom: 4.5rem; }
    .theme--black .oval--bottom-big {
      border: 5px solid #2060f6;
      border-radius: 12px; }
    .theme--blue .oval--bottom-big {
      border: 5px solid #de83fd;
      border-radius: 500px; }
  .oval--bottom-small {
    position: absolute;
    width: 45.3px;
    height: 18px;
    opacity: 0.5;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg);
    bottom: 6rem;
    right: 34vw; }
    .theme--black .oval--bottom-small {
      border: 3px solid #2060f6;
      border-radius: 12px; }
    .theme--blue .oval--bottom-small {
      border: 3px solid #fde183;
      border-radius: 500px; }
  .oval--bottom-biggest {
    position: absolute;
    width: 153.61px;
    height: 60.72px;
    opacity: 0.5;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg);
    bottom: 7rem;
    right: 9vw; }
    .theme--black .oval--bottom-biggest {
      border: 5px solid #2060f6;
      border-radius: 12px; }
    .theme--blue .oval--bottom-biggest {
      border: 5px solid #b3e8f9;
      border-radius: 500px; }

.footer {
  position: relative; }
  .theme--black .footer {
    background-color: #2c2c2c;
    border-radius: 30px 30px 0 0; }
  .theme--blue .footer {
    background-color: #008aff;
    border-radius: 0 200px 0 0; }
  .footer__container {
    padding: 5rem 0 6.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media (min-width: 850px) {
      .footer__container {
        padding-top: 180px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
  .footer__head {
    color: #fff;
    margin-bottom: 3.5rem; }
  .footer__nav {
    display: none;
    padding-bottom: 3rem; }
    @media (min-width: 850px) {
      .footer__nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem; }
  .form__head {
    color: #fff;
    margin-bottom: 3.5rem; }
  .form__input {
    background-color: inherit;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    opacity: 0.7;
    -webkit-transition: border-bottom 0.3s ease-in-out;
    transition: border-bottom 0.3s ease-in-out; }
    .theme--black .form__input:hover, .theme--black .form__input:focus {
      border-bottom: 1px solid #2060f6; }
    .theme--blue .form__input:hover, .theme--blue .form__input:focus {
      border-bottom: 1px solid #ff9c8e; }
    .form__input:not(:last-of-type) {
      margin-bottom: 3rem; }
    .form__input:last-of-type {
      margin-bottom: 80px; }

.contact {
  color: rgba(255, 255, 255, 0.5); }
  .contact__item {
    margin-bottom: 3rem; }
  .contact__heading {
    margin-bottom: 0.5rem; }
  .contact__link {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-transform: none;
    letter-spacing: normal; }
  .contact__image {
    margin-right: 2.25rem;
    color: #fff;
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out; }
    .contact__image:hover {
      color: #ff0; }

.logo {
  display: block;
  width: 46px;
  height: 28px; }

.toggle {
  width: 32px;
  height: 32px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out; }
  .toggle:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); }
  @media (min-width: 1024px) {
    .toggle {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; } }
  .toggle--moon {
    background-image: url(../images/toggle/moon.svg); }
  .toggle--sun {
    background-image: url(../images/toggle/sun.svg); }

.padding-container {
  padding: 0 6.25vw; }
  @media (min-width: 850px) {
    .padding-container {
      padding: 0 15vw; } }
  @media (min-width: 1650px) {
    .padding-container {
      padding: 0 25vw; } }

.padding-section {
  margin: 48px auto; }

.mob-navbar {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out; }
  .theme--black .mob-navbar {
    background-color: #2c2c2c; }
  .theme--blue .mob-navbar {
    background-color: #008aff; }
  .mob-navbar--active {
    z-index: 1;
    opacity: 1; }
  .mob-navbar__header {
    position: absolute;
    top: 8vh;
    width: 87.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .mob-navbar__cross {
    height: 18px;
    width: 18px;
    background: url(../images/cross/cross.svg) no-repeat center;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out; }
    .mob-navbar__cross:hover {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
  .mob-navbar__list {
    text-align: center; }
  .mob-navbar__item {
    margin-top: 8vh; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  background-color: #f2f9ff; }

/*# sourceMappingURL=main.css.map */
